<div style="text-align:center">
  <h1> Dies ist das Angular und Node.js Klausurquiz</h1>
<pre id="frage"></pre>
<br>
<p>Übrige Fragen: {{keyLaenge}}</p>
<br>
<form>
  Deine Lösung: <textarea id="lsg" name="message"style="width:100%; height:200px;"></textarea>
  <br>
  <button type="button" (click)="zeigeAntwort()">Lösung anzeigen</button>
  <button type="button" (click)="verbergeAntwort()" style="margin-left: 10px">Lösung verbergen</button>
  <button type="button" (click)="naechsteFrage()" style="margin-left: 10px">Nächste Frage</button>
  <br>
  <br>
  <button type="button" (click)="loescheFrage()">Korrekte Antwort, gehe zur nächsten Frage! (entfernt Frage aus Liste)</button>
  <br>
  <br>



</form>

<pre id="lösung" style="display: none"></pre>
</div>
